<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow">

    <title>@ViewData["Title"] - Online Shop</title>
    
    <!-- Favicon -->
    @* <link rel="shortcut icon" href="~/favicon.ico"> *@

    <script type="importmap"></script>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="~/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/assets/vendor/icon-etlinefont/style.css">
    <link rel="stylesheet" href="~/assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="~/assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="~/assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="~/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="~/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="~/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/assets/vendor/animate.css">
    <link rel="stylesheet" href="~/assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="~/assets/vendor/hamburgers/hamburgers.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="~/assets/css/unify-core.css">
    <link rel="stylesheet" href="~/assets/css/unify-components.css">
    <link rel="stylesheet" href="~/assets/css/unify-globals.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    
    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
<main>
    <partial name="_HeaderPartial" />
    @RenderBody()
    
    <partial name="_FooterPartial" />
</main>
    
    
    <!-- JS Global Compulsory -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>


    <!-- JS Implementing Plugins -->
    <script src="~/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="~/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="~/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="~/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="~/assets/vendor/chosen/chosen.jquery.js"></script>
    <script src="~/assets/vendor/image-select/src/ImageSelect.jquery.js"></script>
    <script src="~/assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="~/assets/vendor/imagesloaded/imagesloaded.js"></script>
    <script src="~/assets/vendor/slick-carousel/slick/slick.js"></script>

    <!-- JS Unify -->
    <script src="~/assets/js/hs.core.js"></script>
    <script src="~/assets/js/components/hs.header.js"></script>
    <script src="~/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="~/assets/js/components/hs.scroll-nav.js"></script>
    <script src="~/assets/js/components/hs.go-to.js"></script>
    <script src="~/assets/js/components/hs.sticky-block.js"></script>
    <script src="~/assets/js/helpers/hs.height-calc.js"></script>
    <script src="~/assets/js/components/hs.carousel.js"></script>

    <!-- JS Custom -->
    <script src="~/assets/js/custom.js"></script>

    
    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // Header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu plugin
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            $.HSCore.helpers.HSHeightCalc.init();
        });

        $(window).on('load', function () {
            // initialization of HSScrollNav
            $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
            duration: 700,
            over: $('.u-secondary-navigation')
        });

        // initialization of masonry.js
        $('.masonry-grid').imagesLoaded().then(function () {
            $('.masonry-grid').masonry({
                // options
                columnWidth: '.masonry-grid-sizer',
                itemSelector: '.masonry-grid-item',
                percentPosition: true
            });
        });

        // initialization of sticky blocks
        $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
        });
    </script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
