@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<heading>
    <h1>About Us</h1>
    <p>Softech Aptech, 24 Lê Thánh Tôn, Đà Nẵng</p>
</heading>
